<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/811362.png" alt="Terry" class="img-thumbail rounded-circle" width="200px" height="200px">
            <div class="display-4">Terry</div>
            <div class="lead">Umay Somay</div>
        </div>
    </div>
</div>